.star-border-icon {
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.star-icon {
  border: none;
  background-color: transparent;
  color: #ffd740;
  font-size: 24px;
}

/* .logo{
    width: 125px;
    height: 100px;
    margin: 0 auto;
} */

.img-fluid{
    width:50%;
    height: auto;
}

@media (max-width: 768px) {
    .img-fluid{
        width: 100%;
    }
}
