<div class="container my-3">
  <h2>My Portfolio</h2>

  <div *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <ngb-alert
    *ngIf="isEmpty"
    type="warning"
    style="margin-top: 60px; text-align: center"
    >Currently you don't have any stock in your Portfolio.</ngb-alert
  >
  <ngb-alert
    *ngIf="buySuccess"
    #selfClosingAlert
    type="success"
    style="margin-top: 60px; text-align: center"
    >{{ alertMessage }}</ngb-alert
  >
  <ngb-alert
    *ngIf="sellSuccess"
    #selfClosingAlert
    type="danger"
    style="margin-top: 60px; text-align: center"
    >{{ alertMessage }}</ngb-alert
  >

  <div class="container mt-4" *ngIf="!isEmpty">
    <p>Money in Wallet: {{ money | currency }}</p>
    <div *ngFor="let item of data" class="card mb-3">
      <div class="card-body">
        <h5 class="card-header">
          {{ item.ticker | uppercase }} {{ item.name }}
        </h5>
        <div class="row">
          <div class="col-md-6">
            <p>Quantity: {{ item.quantity }}</p>
            <p>Avg. Cost / Share: {{ item.avg | currency : "USD" }}</p>
            <p>Total Cost: {{ item.totalCost | currency : "USD" }}</p>
          </div>
          <div class="col-md-6">
            <p>Change: {{ item.change | number : "1.2-2" }}</p>
            <p>Current Price: {{ item.c | currency : "USD" }}</p>
            <p>Market Value: {{ item.market_val | currency : "USD" }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <button
            class="btn btn-success me-2"
            (click)="openTransactionDialog(item, 'buy')"
          >
            Buy
          </button>
          <button
            class="btn btn-danger"
            (click)="openTransactionDialog(item, 'sell')"
          >
            Sell
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
